<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Doctor Dashboard</title>
	<%- include('partials/head.ejs') %>
</head>
<body>
	<% if(error) {%>
		<% if(errorType === 'Success') { %>
			<div class="error_container error_container--success">
				<div class="col--1">
					<div class="error_container__icon">
						<i class="fas fa-check-circle"></i>
					</div>	
				</div>
				<div class="col--2">
					<div class="error_container__title heading-3">
						Success
					</div>
					<span class="para-1 error" id="cancelLogin"><%= error %> <!-- Valid Only for 60 Seconds. --></span>	
				</div>
				<div class="col--3">
					<div class="error_container__icon" id="cross">
						<i class="fas fa-times"></i>
					</div>		
				</div>
			</div>
		<% } %>
		<% if(errorType === 'Failure') { %>
			<div class="error_container">
				<div class="col--1">
					<div class="error_container__icon">
						<i class="fas fa-times-circle"></i>
					</div>	
				</div>
				<div class="col--2">
					<div class="error_container__title heading-3">
						Failure
					</div>
					<span class="para-1 error" id="cancelLogin"><%= error %> <!-- Valid Only for 60 Seconds. --></span>	
				</div>
				<div class="col--3">
					<div class="error_container__icon" id="cross">
						<i class="fas fa-times"></i>
					</div>		
				</div>
			</div>
		<% } %>
		<% if(errorType === 'Info') { %>
			<div class="error_container error_container--info">
				<div class="col--1">
					<div class="error_container__icon">
						<i class="fas fa-info-circle"></i>
					</div>	
				</div>
				<div class="col--2">
					<div class="error_container__title heading-3">
						Info
					</div>
					<span class="para-1 error" id="cancelLogin"><%= error %> <!-- Valid Only for 60 Seconds. --></span>	
				</div>
				<div class="col--3">
					<div class="error_container__icon" id="cross">
						<i class="fas fa-times"></i>
					</div>		
				</div>
			</div>
		<% } %>
	<% } %>
	<!-- <sidebar class="admin_sidebar">
		<div class="cross-sidebar">
			<i class="fas fa-times"></i>
		</div>
		<div class="logo_container">
			<a href="/admin"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="" class="logo"></a>
		</div>
		<div class="menu_container">
			<ul class="menu">
				<li class="menu-title para">
					Medicine
				</li>
				<li class="menu-item">
					<i class="item-icon fas fa-thermometer"></i>
					<p class="para"><a href="/admin-dashboard">Dashboard</a></p>
				</li>
				<li class="menu-item">
					<i class="item-icon fas fa-stethoscope"></i>
					<p class="para"><a href="/admin-dashboard">Appointments</a></p>
				</li>
				<li class="menu-item">
					<i class="item-icon fas fa-user-md"></i>
					<p class="para"><a href="/admin/doctors">Doctors</a></p>
				</li>
				<li class="menu-item">
					<i class="item-icon fas fa-user-nurse"></i>
					<p class="para"><a href="/admin-dashboard">Departments</a></p>
				</li>
				<li class="menu-item">
					<i class="item-icon fas fa-user-injured"></i>
					<p class="para"><a href="/admin-dashboard">Patients</a></p>
				</li>	
				<li class="menu-item">
					<i class="item-icon fas fa-money-check-alt"></i>
					<p class="para"><a href="/admin-dashboard">Payments</a></p>
				</li>	

			</ul>
		</div>
	</sidebar> -->
	<!-- <header class="admin_header">
		<div class="menu-burger">
			<i class="fas fa-bars navbar__burger"></i>
		</div>
		<div class="bell-icon">
			<i class="fas fa-bell"></i>
		</div>
		<div class="display-picture">
			<img src="./../assets/femaleDoc.png" alt="">
			<i class="fas fa-chevron-down"></i>
		</div>
	</header> -->
	
	<%- include('partials/header.ejs') %>

	<div class="background-dashboard">
	<%- include('partials/admin_sidebar.ejs') %>
	<div class="dashboard_content">
		<section class="statistics_site">
			<div class="statistics_site__grid">
				<div class="statistics_site__grid__item">
					<div class="statistics_site__grid__item__col--1">
						<div class="statistics_site__grid__item__icon">
							<i class="fas fa-medkit"></i>
						</div>	
					</div>
					<div class="statistics_site__grid__item__col--2">
						<div class="statistics_site__grid__item__title">
							<h4 class="heading-4">Appointments</h4>
						</div>
						<div class="statistics_site__grid__item__figure">
							<h4 class="heading-4"><%= appointments.length %></h4>
						</div>	
					</div>
					
				</div>
				<div class="statistics_site__grid__item">
					<div class="statistics_site__grid__item__col--1">
						<div class="statistics_site__grid__item__icon">
							<i class="fas fa-user-injured"></i>
						</div>	
					</div>
					<div class="statistics_site__grid__item__col--2">
						<div class="statistics_site__grid__item__title">
							<h4 class="heading-4">Patients</h4>
						</div>
						<div class="statistics_site__grid__item__figure">
							<h4 class="heading-4"><%= appointments.length %></h4>
						</div>	
					</div>
				</div>
			</div>
		</section>
		<section class="recent_appointments">
			<div class="recent_appointments__container">
				<h3 class="recent_appointments__heading heading-3">Upcoming Appointments</h3>

				<div class="recent_appointments__table_container">
					<table class="recent_appointments__table">
						<thead>
							<tr>
								<th>Photo</th>
								<th>Name</th>
								<th>Email</th>
								<th>Date</th>
								<th>Visit Time</th>
								<th>Number</th>
								<th>Hospital</th>
								<th>Action</th>
							</tr>	
						</thead>
						<tbody>
							<% for(let i = 0; i < bookedSlots.length; i++) { %>
								<% if(appointments[i].appointmentDate > Date.now()) { %>
								<tr>
									<td class="display_picture_container">
										<img src="./../public/uploads/users/default-user.png" alt="">
									</td>
									<td>
										<%= patients[i].name %>
									</td>
									<td>
										<%= patients[i].email %>
									</td>
									<td>
										<%= appointments[i].appointmentDate.toDateString() %>
									</td>
									<td>
										<%= bookedSlots[i].slots.subSlots.startTime %>
									</td>
									<td>
										<%= patients[i].phoneNumber %>
									</td>
									<td>
										<%= bookedSlots[i].slots.hospital %>
									</td>
									<td>
										<div class="actions">
											<a href="/reschedule-appointment/<%= appointments[i]._id %>"><div class="appointment_edit_button">
												<i class="fas fa-pencil-alt"></i>
											</div></a>
											<div class="appointment_edit_button" data-appointment="<%= appointments[i]._id  %>" onclick="cancelAppointment(this)">
												<i class="fas fa-trash-alt"></i>
											</div>	
										</div>
										
									</td>
								</tr>
								<% } %>
							<% } %>	
						</tbody>
						
					</table>
				</div>	
				<h3 class="recent_appointments__heading heading-3">Last Appointments</h3>
				<div class="recent_appointments__table_container">
					<table class="recent_appointments__table">
						<thead>
							<tr>
								<th>Photo</th>
								<th>Name</th>
								<th>Email</th>
								<th>Date</th>
								<th>Visit Time</th>
								<th>Number</th>
								<th>Hospital</th>
								<!-- <th>Action</th> -->
							</tr>	
						</thead>
						<tbody>
							<% for(let i = 0; i < bookedSlots.length; i++) { %>
								<% if(appointments[i].appointmentDate < Date.now()) { %>
								<tr>
									<td class="display_picture_container">
										<img src="./../public/uploads/users/default-user.png" alt="">
									</td>
									<td>
										<%= patients[i].name %>
									</td>
									<td>
										<%= patients[i].email %>
									</td>
									<td>
										<%= appointments[i].appointmentDate.toDateString() %>
									</td>
									<td>
										<%= bookedSlots[i].slots.subSlots.startTime %>
									</td>
									<td>
										<%= patients[i].phoneNumber %>
									</td>
									<td>
										<%= bookedSlots[i].slots.hospital %>
									</td>
									<td>
									<!-- 	<div class="actions">
											<a href="/reschedule-appointment/<%= appointments[i]._id %>"><div class="appointment_edit_button">
												<i class="fas fa-pencil-alt"></i>
											</div></a>
											<div class="appointment_edit_button" data-appointment="<%= appointments[i]._id  %>" onclick="cancelAppointment(this)">
												<i class="fas fa-trash-alt"></i>
											</div>	
										</div>
										
									</td> -->
								</tr>
								<% } %>
							<% } %>	
						</tbody>
						
					</table>
				</div>	
			</div>

		</section>
	</div>
</div>
	<script>
	const menuItemActive = document.querySelectorAll(`a[href='/${window.location.href.split('/')[3]}']`);
	menuItemActive[1].parentElement.parentElement.classList.add('menu-item--active');
	</script>
	<script>
		async function cancelAppointment(button) {
			const res = await fetch(`/appointment-cancel/${button.dataset.appointment}`, {
				method: 'POST'
			});
			window.location.href = res.url;
		}
	</script>
	<script src="./../index.js">
	</script>
	<script src="./../dashboard.js"></script>
	<script src="./../error.js"></script>
</body>
</html>