<header class="admin_header">
	<div class="menu-burger">
		<i class="fas fa-bars navbar__burger"></i>
	</div>
	<% if(session.userId) { %>
	<div class="navbar__profile">
		<h4 class="user-name"><%= session.user.name %></h4>
		<i id="moreOptions" class="fas fa-chevron-down"></i>
	</div>
	<% } %> 
	<% if(session.user) { %>
	<div class="profile_menu_container profile_menu_container--admin display_none">
		<div class="profile_small_details">
			<div class="profile_picture__container">
				<img src="<%= session.user.display_picture ? session.user.display_picture : 'public/uploads/users/user.jpeg'  %>" class="profile_picture">
			</div>
			<div class="name_and_phone">
				<a href="<%= session.user.role === 'admin' ? '/edit-profile' : '/doctor-dashboard' %>"><h4 class="name"><%= session.user.name %></h4></a>
				<span class="phoneNumber"><%= session.user.phoneNumber %></span> 
			</div>
		</div>
		<ul class="profile_menu">
			<a href="/logout"><li class="profile_menu__item">Logout</li></a>
		</ul>
	</div>
	<% } %>
</header>